<!DOCTYPE html>
<html>
  <header class="nav navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "envurban", root_path, id: "logo" %>
    </div>
  </header>

  <%= menu %>

  <body>
    <h1>Poluição</h1>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  </body>

  <footer class="footer">
    <small>
      <center>
        All rights reserved by @fabiosoaresv | Credits to @aguiroz @diogofelix @marcosantonio
      </center>
    </small>
  </footer>
</html>
