<!DOCTYPE html>
<html>
  <head>
    <h1>Poluição</h1>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>

<%= voltar %>

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
   <%= link_to "envurban", root_path, id: "logo" %>
   <nav>
      <ul class="nav navbar-nav navbar-right">
        <%= menu %>
      </ul>
    </nav>
  </div>
</header>

<footer class="footer">
  <small>
    All rights reserved by @fabiosoaresv | Credits to @aguiroz @diogofelix @marcosantonio
  </small>
  <nav>
    <ul>
      <%= menu %>
    </ul>
  </nav>
</footer>
