<p id="notice"><%= notice %></p>

<h1>Cadastre já o seu e-mail e receba nossas notificações!</h1>

<%= menu %>

<table>
  <tbody>
    <% @informativos.each do |informativo| %>
      <tr>
        <td><%= informativo.email %></td>
        <td><%= link_to 'Show', informativo %></td>
        <td><%= link_to 'Edit', edit_informativo_path(informativo) %></td>
        <td><%= link_to 'Destroy', informativo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar E-mail', new_informativo_path %>
<%= link_to 'Back', root_path %>
