<!DOCTYPE html>
<html>
  <header class=" navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "envurban", root_path, id: "logo" %>
    </div>
    <%= menu %>
  </header>

  <body>
    <h1>E-mail cadastrado com sucesso, obrigado!</h1>
    <p>
      <strong>Email:</strong>
      <%= @informativo.email %>
    </p>
    <%= link_to 'Editar', edit_informativo_path(@informativo) %> |
  </body>

  <%= voltar %>

  <footer class="footer">
    <small>
      <center>
        All rights reserved by @fabiosoaresv | Credits to @aguiroz @diogofelix @marcosaabarbosa
      </center>
    </small>
  </footer>
  </html>
