<!DOCTYPE html>
<html>
  <header class=" navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "envurban", root_path, id: "logo" %>
    </div>
    <%= menu %>
  </header>

  <body>
    <h1>Trânsito</h1>

    <div>
      <p align="justify">
        <h2>Automóveis</h2>
          <br>
          Os automóveis são os meios de locomoção mais comuns nos dias de hoje principalmente em cidades grandes com problemas comuns a grandes
          metrópoles, como por exemplo, o meio de transporte público inadequado. O grande número desses veículos circulando nas vias impacta
          diretamente no meio ambiente causando transtornos e um leque de problemas. Carros particulares têm impactos não somente no trânsito da
          cidade, mas também sobre a qualidade do ar e o aquecimento do planeta. Carros são responsáveis por 72,6% das emissões de gases de efeito
          estufa do setor de transportes, apesar de levarem apenas cerca de 30% dos passageiros. O total de carros e o total de ônibus transportam
          volume parecido de pessoas na cidade (cerca de 30% contra 40%), segundo Pesquisa Origem e Destino. Mas, conforme os cálculos do Iema, os
          carros ocupam 88% do espaço das vias, ante somente 3% usados pelos ônibus.
          <br><br>
          O uso dos veículos automotores está diretamente associado a dois tipos de poluição: Sonora e do Ar
          <br><br>
          • Poluição sonora já atingiu níveis preocupantes. A contribuição individual, nesse caso, pode ajudar muito: para não somar mais ruído ao
          barulho provocado por ônibus, caminhões e motos, é fundamental manter o motor regulado, o escapamento em boas condições e usar a buzina em
          caso estritamente necessário.
          <br><br>
          • Poluição do ar é causada principalmente pela queima de combustíveis para obter energia. São identificadas como maiores fontes desse tipo
          de poluição: as fábricas; as usinas termelétricas, os veículos automotores, principalmente aqueles que empregam combustíveis derivados do
          petróleo, como gasolina e óleo diesel. Toda vez que a ignição é acionada, o combustível produz a energia que move o veículo. Neste momento,
          ocorre um processo que libera gases e partículas na atmosfera. A poluição do ar também é causada pela evaporação do óleo do cárter, do
          combustível do tanque, do combustível que vai para o sistema de alimentação do motor, em menor escala, e pelo atrito dos pneus com o
          asfalto.
          <br>
        <h2>O que é poluição do ar?</h2>
          <br>
          Poluição do ar é a inclusão de Algumas substâncias que, por causa da sua concentração, possa a se tornar prejudicial à saúde e ao meio
          ambiente. Conhecida também como poluição atmosférica, que é à contaminação do ar por gases, partículas líquidas e sólidas, material
          biológico, que provocam impacto ambiental e problemas de saúde.
          <br>
        <h2>Causas da poluição do ar</h2>
          <br>
          Nem sempre a poluição é causada pelas atividades humanas, a poluição do ar pode ser causada por fontes naturais como a atividade vulcânica
          que libera gases poluentes como dióxido de carbono, dióxido de enxofre e cinzas em grandes quantidades, podendo assim causar danos
          terríveis.
          <br><br>
          <center>
          Figura01 - A atividade vulcânica liberando gases poluentes
          <br><br>
          <%= link_to image_tag("/images/vulcaopoluicaodoar.jpg", height: "215", width: "320") %>
          <br><br>
          Fonte: https://www.todamateria.com.br/poluicao-do-ar/
          </center>
          <br>
          O desenvolvimento dos grandes centros urbanos com o início da Revolução Industrial, que usava o carvão mineral para gerar energia para as
          máquinas, do qual o resultado da queima era de toneladas de poluentes lançados no ar atmosférico e o consumo cada vez mais exagerado dos
          humanos são os grandes responsáveis por tornar o mundo cada dia mais poluídos. A poluição é um problema que atinge o ar, a água e o solo,
          tornandose cada vez mais grave graças às nossas atitudes.
          <br>
        <h2>Problemas gerados</h2>
          <br>
          A poluição do ar pode causar um enorme impacto na saúde humana e no meio ambiente. Entre os principais efeitos da poluição do ar estão
          doenças respiratórias e problemas ambientais como chuva ácida, diminuição da camada de ozônio, efeito estufa.
          <br><br>
          <center>
          Figura02 – Uso de máscaras para se proteger da poluição do ar
          <br><br>
          <%= link_to image_tag("/images/pessoasepoluicaodoar.jpg", height: "215", width: "320") %>
          <br><br>
          Fonte: https://www.todamateria.com.br/poluicao-do-ar/
          </center>
          <br>
          Sete milhões de pessoas no mundo ainda morrem, anualmente, por causa da poluição do ar. O dado é de um novo relatório divulgado pela
          Organização Mundial de Saúde, que mostra que nove em cada dez pessoas respiram ar contendo altos níveis de poluentes. Mas, para nenhuma
          surpresa de todos nós, o problema afeta muito mais, exatamente, os mais pobres, aqueles que também têm menos recursos para se livrar de
          doenças.
          <br><br>
          Fonte:
          <br>
          http://g1.globo.com/natureza/blog/nova-etica-social/post/poluicao-do-ar-mata7-milhoes-por-ano-maioria-em-paises-pobres-diz-oms.html
          <br><br>
        <h2>O que fazer?</h2>
            <br>
            Tente não usar seu carro para se locomover. Prefira ir ao trabalho de transporte público ou utilizar um meio de transporte alternativo,
            como a bicicleta, são ações que diminuem muito a sua contribuição para a emissão de poluentes, ao optar pelo carro em vez do ônibus, uma
            pessoa contribui com 45 vezes mais emissões de dióxido de carbono na atmosfera (gás que contribui para o aquecimento do  planeta) e 30
            vezes mais de monóxido de carbono (gás tóxico e poluente). Sem contar o aumento de uma vez e meia de óxido de nitrogênio e o triplo de
            material particulado, que afetam os pulmões e provocam danos à saúde. O cálculo foi feito com base nos fatores do Inventário Nacional
            de Emissões Atmosféricas por Veículos Automotores Rodoviários do Ministério do Meio Ambiente considerando ônibus urbanos com média de
            ocupação de 80 pessoas e carros com média de 1,5.
            <br><br>
            Cientistas tem tentado encontrar medidas que possam solucionar ou amenizar esses problemas ambientais. O desenvolvimento de automóveis
            que emitem menores quantidades de gás carbônico, por exemplo, tem sido eficaz na redução. Milhares de carros atualmente são movidos à
            álcool, combustível que polui pouco. Além disso, estão produzindo carros movidos a bateria e energia solar, a tecnologia tem gerado
            equipamentos para as indústrias, também, que são menos poluentes e menos prejudiciais ao meio ambiente.
            <br>
          <h2>Sites</h2>
            <center>
            https://www.todamateria.com.br/poluicao-do-ar/
            <br>
            https://www.ecycle.com.br/2949-poluicao-do-ar-atmosferica
            <br>
            http://g1.globo.com/natureza/blog/nova-eticasocial/post/poluicao-do-ar-mata-7-milhoes-por-ano-maioria-em-paisespobres-diz-oms.html
            <br>
            https://mundoeducacao.bol.uol.com.br/biologia/poluicao-ar.htm
            <br>
            https://www.estudopratico.com.br/poluicao-do-ar-causasconsequencias-e-o-que-fazer/
            <br>
            </center>
      </p>
    </div>
  </body>

  <%= link_to image_tag("/images/news-letter.png", height: "100", width: "250"), new_informativo_path %>

  <footer class="footer">
    <small>
      <center>
        All rights reserved by @fabiosoaresv | Credits to @aguiroz @diogofelix @marcosaabarbosa
      </center>
    </small>
  </footer>
</html>
